<div class="form-padding">
<h1>Search users</h1>
{{#if error}} <span>{{error}}</span>{{/if}}
<form method="Post" action="searchusers">
	<input type"text" name="id" placeholder="Search Users">
	<button class="button1" "type="submit">Search</button>
</form>

<div class="container">
	<h1>{{user.first_name}} {{user.last_name}} [{{user.id}}]</h1>
	<ul>
		<li><span class="white">Name: </span>{{user.name}}</li>
		<li><span class="white">Email: </span>{{user.email}}</li>
		<li><span class="white">First Name: </span>{{user.first_name}}</li>
		<li><span class="white">Middle Name: </span>{{user.middle_name}}</li>
		<li><span class="white">Last Name: </span>{{user.last_name}}</li>

		<li><span class="white">Admin?: </span>{{user.admin}}
		<span class="white">Employee?: </span>{{user.employee}}
		<span class="white">Client?: </span>{{user.client}}</li>
		<li><span class="white">Password: </span>{{user.password}}</li>
	</ul>
	<form method="POST" action="/deleteuser/{{user.id}}?_method=DELETE">
	<button class="button2" type="submit">Delete</button>
	</form>
</div>
<a href="/">Back</a>
</div>
